@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
* {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.text--purple {
    color: #6030b1;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link-anchor {
    
    text-decoration: none;
    margin: 0 12px;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.nav__link--anchor--primary {
    background-color: #6030b1;
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
    transition: background-color 300ms;
}

.nav__link--anchor--primary:hover {
    background-color: #5d3eff
}

.personal__logo {
    font-size: 24px;
    font-weight: 700;
    color: #6030b1;
    margin: 0 12px;
}

/* ABOUT ME */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 28px;
}

.about-me__picture {
    width: 100%;

    /* Improving my own picture */
transform: scale(1.5);
padding-top: 15px;
}

.about-me__info--title {
    margin-bottom: 16px;
}
.about-me__info-para {
    font-size: 20px;
    margin-bottom: 28px;
}

.about-me__link {
    font-size: 20px;
    color:#242424;
    padding: 0 16px;
    text-decoration: none;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    
}

.about-me__img {
    width: 100%;
}